<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Updated username is <%= @user.name %></h1>
    <p>
     Username was successfully updated
    </p>
  </body>
</html>